@import url('https://fonts.googleapis.com/css?family=Lato:400,700,300');

body {
    color: #777;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

#principal-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    display: none;
}

/* From https://codepen.io/sideshowjack/pen/WaryNb?page=2 */
#loading-bar {
    font-family: "Open Sans", sans-serif;
    width: 30%;
    display: block;
    position: relative;
    color: #212121;
    background-color: #eee;
    padding: 1rem;
    margin: 1.5rem auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
}

#loading-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation: load-bar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
    animation: load-bar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
}

@-webkit-keyframes load-bar {
    0% {
        left: -110%;
    }

    100% {
        left: 110%;
    }
}

@keyframes load-bar {
    0% {
        left: -110%;
    }

    100% {
        left: 110%;
    }
}

.pull-center {
    max-width: 600px;
    margin: 0 auto;
}

.view-ports {
    text-align: center;
}

.view-ports-block {
    display: inline-block;
    text-align: left;
    font-size: 0;
}

.view-port {
    /*min-height: 224px;*/
    /*max-width: 224px;*/
    border: 2px solid #999;
    background-color: #000;
    margin: 10px;
    display: inline-block;
}

.view-port.view-port-empty {
    width: 224px;
    visibility: hidden;
}

/*.view-port canvas {
    max-width: 100%;
}*/

.view-settings {
    margin-bottom: 40px;
}

.view-settings .input {
    display: inline-block;
}

/* Toggle from: https://gist.github.com/2947721120/7532eedd404ebd095e8a */
.toggle {
    margin-top: 40px;
    margin-bottom: 30px;
}
.toggle input[type="checkbox"] {
    display: none;
}
.toggle label {
    position: relative;
    margin-left: 75px;
}
.toggle input[type="checkbox"] + label::before {
    content: " ";
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid #999;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: #999;
}
.toggle input[type="checkbox"] + label::after {
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #af4c4c;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    transition: all 0.3s ease-in;
    background: #af4c4c;
}
.toggle input[type="checkbox"]:checked + label::after {
    left: -40px;
    transition: all 0.3s ease-in;
    background: #4daf7c;
    border-color: #4daf7c;
}

/* Upload button from: https://codepen.io/adamlaki/pen/VYpewx */
.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}
.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #999;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
.file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}
.file-upload-wrapper:hover:before {
    background: #3d8c63;
}
.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}